.grid {
  display: grid;
  column-gap: $gutter-horizontal;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr !important;
    column-gap: 0;
    row-gap: $gutter-vertical-sm;
    max-width: 50rem;
    margin: 0 auto;
  }
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-1-of-2,
.col-1-of-3,
.col-1-of-4 {
  grid-column: span 1;
}

.col-2-of-3,
.col-2-of-4 {
  grid-column: span 2;
}

.col-3-of-4 {
  grid-column: span 3;
}
