.u-center-text {
  text-align: center;
}

.u-margin-bottom-large:not(:last-child) {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-center {
  margin: 0 9.8rem;
}
.u-margin-top-sm {
  margin-top: 1.5rem;
}
.u-margin-top-xl {
  margin-top: 10rem;
}
.u-margin-top-lg {
  margin-top: 8rem;
}

.container {
  padding: 0 15rem;
  margin: 0 auto;
  border-radius: 3px;
}
